body {
  margin: 0px;
  height: 100%;
}
#navbar a {
  color: white;
  text-decoration: none;
  font-size: 28px;
  padding: 32px;
}
#navbar {
  border: 1.5px solid black;
  padding: 19px 0px 19px 1085px;
  background-color: #b22222;
  position: fixed;
  top: 0px;
  width: 100%;
}
#welcome-section {
  top: 0;
  min-height: 60vh;
  height: 100vh;
  text-align: center;
  color: white;
  background-color: #36454f;
  width: fit;
  line-height: 0.6;
  font-family: monospace;
}
#welcome-section p {
  font-size: 19px;
  padding: 3px 0px 0px 0px;
}
#welcome-section h1 {
  padding: 115px 0px 0px 0px;
}
#projects h1 {
  text-decoration: underline;
  text-align: center;
  text-underline-position: under;
  padding-bottom: 45px;
}
#projects {
  background-color: #b5d3e7;
  padding: 150px;
}
.project-tile {
  text-decoration: none;
  font-size: 22px;
  color: black;
  padding: 25px;
  margin: 0px 0px 25px 25px;
  text-transform: uppercase;
  font-weight: bold;
}
#profile-link {
  text-decoration: none;
  color: white;
  padding: 35px;
}
#cont {
  text-align: center;
  background-color: #36454f;
  padding: 65px;
  color: white;
  font-family: monospace;
  font-size: 17px;
}
img {
  height: 500%;
}
@media (max-height: 100%) {
  #welcome-section {
  }
}
